<footer>
    <div class="footer-title"><a href="/" class="footer-link">
    <span class="rainbow-text" id="rainbow-text"></span>
      </a></div>
    <div class="footer-links">
      <a href="/#about">About</a> | 
      <a href="/#biography">Biography</a> | 
      <a href="/#merch">Merch</a> | 
      <a href="/#tour">Tour</a> | 
      <a href="/#contact">Contact</a> |
      <a href="/#press">Press</a> |
      <a href="/lyrics">Lyrics</a> |
      <a href="/data">Show Me The Data</a>
    </div>
    <br>
    <p>© <span id="year"></span> Darksoft. All rights reserved.</p>
  <script>
    document.getElementById("year").innerText = new Date().getFullYear();
  </script>
</footer>