<footer>
    <div class="footer-title"><a href="/" class="footer-link">
    <span class="rainbow-text" id="rainbow-text"></span>
      </a></div>
    <div class="footer-links">
      <a href="/#about">About</a> | 
      <a href="/#biography">Biography</a> | 
      <a href="/#merch">Merch</a> | 
      <a href="/#tour">Tour</a> | 
      <a href="/#contact">Contact</a> |
      <a href="/#press">Press</a> |
      <a href="/lyrics">Lyrics</a> |
      <a href="/data">Show Me The Data</a>
    </div>
    <br>
    <div class="footer-donate">
  <a href="https://buymeacoffee.com/darksoft" target="_blank" rel="noopener">
    💚 If my music means something to you, consider supporting the project in a small way.
  </a>
</div>
  <br>
    <p>© <span id="year"></span> Darksoft. All rights reserved.</p>
  <script>
    document.getElementById("year").innerText = new Date().getFullYear();
  </script>
  <!-- Buy Me a Coffee Floating Widget -->
<script 
  data-name="BMC-Widget" 
  src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" 
  data-id="darksoft"
  data-description="Support Darksoft with a small donation!" 
  data-message="Big Darksoft fan? Help fuel the project with $0.50." 
  data-color="#6dc15b"
  data-position="Right" 
  data-x_margin="18" 
  data-y_margin="18">
</script>
</footer>